In [1]:
# Import Required Modules
import pandas as pd 
import matplotlib as plt
import numpy as np
import seaborn as sns
import datetime as dt
import yfinance as yf
import csv 
import glob

#create csv of main df for other analyses
output_main_df = ('./df_csv/all_manuf.csv')

In [2]:
# Create Dataframe with all manufacturers

path = './market_seg/Car_data/'
all_files = glob.glob(path + "/*.csv")

file_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    file_list.append(df)

all_kbb = pd.concat(file_list, axis=0, ignore_index=True)
all_kbb.to_csv(output_main_df)

In [3]:
all_kbb

,Hyundai,Accent,"$16,270.00",Manufacturer,Model,MSRP,Company
0,Hyundai,Eleantra,"$20,275.00",NaN,NaN,NaN,NaN
1,Hyundai,Ioniq Elecrtic,"$34,020.00",NaN,NaN,NaN,NaN
2,Hyundai,Ioniq Hybrid,"$24,175.00",NaN,NaN,NaN,NaN
3,Hyundai,loniq Plug- In Hybrid,"$27,475.00",NaN,NaN,NaN,NaN
4,Hyundai,Sonata,"$26,695.00",NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
563,NaN,NaN,NaN,NaN,2020 Ram 2500 Mega Cab,"$48,445",Chrysler
564,NaN,NaN,NaN,NaN,2020 Ram 3500 Crew Cab,"$40,345",Chrysler
565,NaN,NaN,NaN,NaN,2020 Ram ProMaster City,"$26,075",Chrysler
566,NaN,NaN,NaN,NaN,2021 Ram ProMaster Cargo Van,"$33,235",Chrysler
567,NaN,NaN,NaN,NaN,2021 Ram ProMaster Window Van,"$38,985",Chrysler