In [1]:
# Get all open, close, max, min, and volume for all major Asian car manufacturers for that last 2 years
import yfinance as yf
import csv
import pandas as pd

In [1]:
# Nissan
nissan = yf.Ticker("NSANY")
hist = nissan.history(period)

In [7]:
# Honda
data = yf.download("NSANY HMC TM HYMTF", start="2019-01-01", end="2020-12-31").reset_index()
print(data)

[*********************100%***********************]  4 of 4 completed
          Date  Adj Close                                        Close  \
                      HMC      HYMTF      NSANY          TM        HMC
0   2019-01-02  25.102514  24.902649  15.383476  112.735107  26.480000
1   2019-01-03  24.761240  24.902649  15.364342  111.154800  26.120001
2   2019-01-04  25.889338  24.902649  15.651348  116.079933  27.309999
3   2019-01-07  26.372807  24.902649  15.813984  117.582680  27.820000
4   2019-01-08  26.998472  24.902649  15.794851  118.581276  28.480000
..         ...        ...        ...        ...         ...        ...
481 2020-11-27  28.750000  38.700001  10.000000  140.160004  28.750000
482 2020-11-30  27.719999  38.500000   9.420000  134.460007  27.719999
483 2020-12-01  28.360001  38.500000   9.720000  136.139999  28.360001
484 2020-12-02  29.129999  39.799999   9.850000  136.339996  29.129999
485 2020-12-03  29.350000  41.200001  10.130000  136.850006  29.350000

                                            High  ...        Low              \
         HYMTF      NSANY          TM        HMC  ...      NSANY          TM
0    25.250000  16.080000  116.279999  26.590000  ...  15.900000  114.680000
1    25.250000  16.059999  114.650002  26.480000  ...  15.690000  114.290001
2    25.250000  16.360001  119.730003  27.440001  ...  16.049999  117.510002
3    25.250000  16.530001  121.279999  28.000000  ...  16.420000  120.320000
4    25.250000  16.510000  122.309998  28.750000  ...  16.430000  121.959999
..         ...        ...         ...        ...  ...        ...         ...
481  38.700001  10.000000  140.160004  29.020000  ...   9.850000  140.039993
482  38.500000   9.420000  134.460007  28.150000  ...   9.200000  134.449997
483  38.500000   9.720000  136.139999  28.480000  ...   9.370000  135.179993
484  39.799999   9.850000  136.339996  29.290001  ...   9.610000  135.770004
485  41.200001  10.130000  136.850006  29.680000  ...   9.955000  136.744995

          Open                                     Volume                 \
           HMC      HYMTF      NSANY          TM      HMC  HYMTF   NSANY
0    26.110001  25.250000  15.940000  114.680000   655900      0  104300
1    26.400000  25.250000  15.690000  115.849998   937000    100  109900
2    26.760000  25.250000  16.049999  117.940002   826300      0   74300
3    27.540001  25.250000  16.420000  120.709999   806700    500  100600
4    28.570000  25.250000  16.480000  123.160004   949400    100  192700
..         ...        ...        ...         ...      ...    ...     ...
481  28.799999  38.700001   9.980000  140.100006   458300    200  109800
482  28.100000  39.099998   9.810000  135.919998   959200   1400  205800
483  27.879999  38.549999   9.690000  135.600006  1157000    900  188600
484  29.110001  39.160000  10.180000  136.050003   968200  10600   66800
485  29.680000  40.000000   9.955000  137.770004   589367   2445   65533


         TM
0    169900
1    309500
2    307500
3    156100
4    150400
..      ...
481   77300
482  355200
483  289200
484  196900
485  171211

[486 rows x 25 columns]

In [8]:
# Toyota 
data.to_csv(r'./asia.csv',index=False, header=True)

In [4]:
# Hyundai

In [ ]:
# Kia