In [27]:
# Import Required Modules
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
import csv 
import glob

In [28]:
# Create Dataframe with all manufacturers

path = './Car_data/'
all_files = glob.glob(path + "/*.csv")

file_list = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    file_list.append(df)

all_kbb = pd.concat(file_list, axis=0, ignore_index=True)

In [29]:
all_kbb

      Company                          Model   MSRP
0     Hyundai                        Accent   16270
1     Hyundai                      Eleantra   20275
2     Hyundai                Ioniq Elecrtic   34020
3     Hyundai                  Ioniq Hybrid   24175
4     Hyundai         loniq Plug- In Hybrid   27475
..        ...                            ...    ...
564  Chrysler         2020 Ram 2500 Mega Cab  48445
565  Chrysler         2020 Ram 3500 Crew Cab  40345
566  Chrysler        2020 Ram ProMaster City  26075
567  Chrysler   2021 Ram ProMaster Cargo Van  33235
568  Chrysler  2021 Ram ProMaster Window Van  38985

[569 rows x 3 columns]

In [33]:
all_kk_groupby=all_kbb.groupby('Company')['MSRP'].median()
print(all_kk_groupby)

Company
Audi        53895.0
BMW         59895.0
Chrysler    34535.0
Ford        37265.0
GM          36642.5
Honda       30940.0
Hyundai     27445.0
Mazda       25707.5
Mercedes    63995.0
Nissan      31015.0
Porsche     82450.0
Tesla       67690.0
Toyota      31217.5
VW          29515.0
Name: MSRP, dtype: float64

In [34]:
all_kk_max=all_kbb.groupby('Company')['MSRP'].max()
print(all_kk_max)

Company
Audi        185050
BMW         164295
Chrysler    152975
Ford         86220
GM           92790
Honda        59445
Hyundai      59875
Mazda        35060
Mercedes    181095
Nissan      115335
Porsche     152250
Tesla        83200
Toyota       86740
VW           41290
Name: MSRP, dtype: int64

In [35]:
all_kk_min=all_kbb.groupby('Company')['MSRP'].min()
print(all_kk_min)

Company
Audi        34295
BMW         36195
Chrysler    17740
Ford        15235
GM          14095
Honda       17145
Hyundai     16270
Mazda       21445
Mercedes    28375
Nissan      15755
Porsche     52250
Tesla       39190
Toyota      16605
VW          19440
Name: MSRP, dtype: int64

In [42]:
all_kk_groupby.rename(columns={'Company', 'Base Price']
all_kk_groupby.

count       14.000000
mean     43729.107143
std      18185.153513
min      25707.500000
25%      30958.750000
50%      35588.750000
75%      58395.000000
max      82450.000000
Name: MSRP, dtype: float64